@mixin marker($size, $color) {
  font-family: 'Permanent Marker', cursive;
  font-size: $size;
  color: $color;
}

@mixin lato($size, $weight: 400, $color: #fff) {
  font-family: 'Lato', sans-serif;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

$navy: #810000;
$purple: #f23941;
$blue: #a3af97;
$white: #fff;
$green: #406d36;
