@import '../../layoutStyles/helpers';

.shopList {
  display: flex;
  flex-flow: row nowrap;
  max-width: 180rem;
  padding: 3rem 0;
  max-height: 80vh;
  overflow: auto;
  flex-grow: 1;

  > li {
    width: calc(33% - 2rem);
    margin: 5rem 2rem 5rem;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;
    justify-self: stretch;
    background: linear-gradient(
      180deg,
      #202020 0%,
      rgba(10, 10, 10, 0.54) 100%
    );
    border: 1px solid #404040;

    > div {
      display: flex;
      flex-flow: column;
      justify-content: stretch;
      align-items: center;
      flex-grow: 1;
      padding: 2rem;

      &.notVisible {
        figure img {
          filter: grayscale(100);
        }
      }

      figure {
        position: relative;
        padding: 1.5rem;
        border-radius: 2rem 0 0 2rem;
        flex: 1 0 35%;
        align-self: stretch;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        img {
          width: auto;
          max-width: 70%;
        }

        div {
          position: absolute;
          bottom: 1.5rem;
          left: 1.5rem;
          display: flex;
          flex-flow: row;

          i {
            display: block;
            width: 0.8rem;
            height: 0.8rem;
            background: $red;
            border-radius: 100%;
            margin-right: 1rem;
          }
        }

        p {
          position: absolute;
          top: -1rem;
          left: -1rem;
          padding: 1.5rem 2rem;
          @include rubik(1.6rem, $white);
          text-transform: uppercase;
          background: $red;
          border-radius: 100%;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          width: 8rem;
          height: 8rem;
          transform: rotate(-8deg);
          box-shadow: 0 0.2rem 0.7rem 0.3rem rgba(0, 0, 0, 0.3);

          strong {
            @include rubik(3.3rem, $white);
            margin-top: -1rem;
          }
        }
      }

      .data {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: stretch;
        align-items: stretch;

        li {
          margin: 0 0 1rem;
          display: flex;
          flex-flow: row nowrap;

          h3 {
            border: 1px solid #404040;
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            @include raleway(1.9rem, 700, $white);
            text-transform: uppercase;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 6rem;
            margin-right: 0.8rem;
            flex-shrink: 0;
          }

          p {
            flex-grow: 1;
            background: linear-gradient(
              90deg,
              rgba(255, 255, 255, 0.09) 0%,
              rgba(240, 239, 239, 0.047) 27.6%,
              rgba(166, 166, 166, 0.038) 64.06%,
              rgba(232, 232, 232, 0.078) 98.96%
            );
            border: 1px solid #404040;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include raleway(2.2rem, 700, $white);
            padding: 0 1.5rem;

            img {
              margin-left: 0.6rem;
              margin-bottom: 0;
            }

            i {
              display: block;
              width: 1.5rem;
              height: 1.5rem;
              background: $white;
              border-radius: 100%;
              margin-right: 1rem;
            }
          }
        }
      }

      article {
        padding: 0;
        width: 100%;

        h2 {
          @include rubik(3rem, $white);
          margin-bottom: 3rem;
        }
      }
    }
  }
}
