@import '../../layoutStyles/helpers';

.phase2 {
  width: 100%;
  padding: 1rem 3rem;
  flex-grow: 2;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-self: center;

  .categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    max-width: 200rem;
    margin: 0 auto 5rem;

    a {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      height: 9rem;
      background: $white;
      width: 100%;
      border-radius: 0.3rem;
      box-shadow: 0 0.4rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
      transition: all 200ms ease-out;
      top: 0;
      position: relative;
      text-decoration: none;
      @include raleway(2.7rem, 700, $white);

      &:global(.active) {
        background: $white;
        color: $black;
      }

      &:hover {
        top: 0.3rem;
      }
    }
  }
}
