.mainContainer {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: stretch;
  align-items: stretch;
  overflow: auto;
}

:global(html) {
  background: #252525;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 62.5%;

  body {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  :global(#root) {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    justify-content: stretch;
    align-items: stretch;
    overflow: auto;
  }
}

@keyframes animate1 {
  from {
    transform: translateX(0%) translateY(0%) rotate(0deg);
  }
  to {
    transform: translateX(10%) translateY(5%) rotate(5deg);
  }
}

@keyframes animate2 {
  from {
    transform: translateX(0%) translateY(0%) rotate(0deg);
  }
  to {
    transform: translateX(-15%) translateY(-4%) rotate(-9deg);
  }
}
