@import "../../layoutStyles/helpers";

.teamBar {
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  align-items: stretch;

  .team {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .presentation {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .data {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 1rem;
  }

  .items {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }

  .name {
    @include lato(2.2rem, 900, $white);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .badge {
    width: 5.7rem;
    height: 5.5rem;
    border-radius: 100%;
    border: 0.2rem solid #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    @include lato(2.4rem, 900, $white);

    p {
      text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
      position: relative;
      top: -1px;
    }

    &.blue {
      background: linear-gradient(to bottom, #8ed4fd, darken(#8ed4fd, 10%));
    }

    &.red {
      background: linear-gradient(to bottom, #ff6d6a, darken(#ff6d6a, 10%));
    }

    &.green {
      background: linear-gradient(to bottom, $green, darken($green, 10%));
    }
  }
}
