@import "../../layoutStyles/helpers";

.teamBar {
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  align-items: stretch;

  .team {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .presentation {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .data {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 1rem;
  }

  .items {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }

  .name {
    @include lato(2.2rem, 900, $white);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .badge {
    width: 5.7rem;
    height: 5.5rem;
    border-radius: 100%;
    border: 0.2rem solid #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    @include lato(2.4rem, 900, $white);
    position: relative;

    > img {
      position: absolute;
      top: -65%;
      left: -20%;
      width: 140%;
    }

    p {
      text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
      position: relative;
      top: -1px;
    }

    &.blue {
      background: linear-gradient(to bottom, #8ed4fd, darken(#8ed4fd, 10%));
    }

    &.red {
      background: linear-gradient(to bottom, #ff6d6a, darken(#ff6d6a, 10%));
    }

    &.green {
      background: linear-gradient(to bottom, $green, darken($green, 10%));
    }

    &.yellow {
      background: linear-gradient(to bottom, #d9c53c, darken(#d9c53c, 10%));
    }
    &.black {
      background: linear-gradient(to bottom, #000, lighten(#000, 10%));
    }
    &.orange {
      background: linear-gradient(to bottom, #ff8d13, darken(#ff8d13, 10%));
    }
    &.purple {
      background: linear-gradient(to bottom, #b133ff, darken(#b133ff, 10%));
    }
    &.pink {
      background: linear-gradient(to bottom, #ff85af, darken(#ff85af, 10%));
    }
    &.brown {
      background: linear-gradient(to bottom, #7a4737, darken(#7a4737, 10%));
    }
    &.grey {
      background: linear-gradient(to bottom, #7c7c7c, darken(#7c7c7c, 10%));
    }
  }

  &.full {
    width: 50rem;
    display: flex;
    flex-flow: column;
    align-items: center;

    .items {
      display: none;
    }

    .team {
      padding: 2rem 1rem;
      position: relative;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      margin-right: 0;
    }

    .data {
      padding-left: 0;
    }

    .badge {
      width: 6.5rem;
      height: 6.5rem;
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    .name {
      font-size: 2.5rem;
    }

    .team:first-child {

      .badge {
        width: 9rem;
        height: 9rem;
        margin-bottom: 2rem;
        font-size: 3.5rem;
      }

      .name {
        font-size: 3.5rem;
      }

      &:after {
        content: "";
        position: absolute;
        top: -2.5rem;
        left: 50%;
        margin: 0 auto;
        background: url('../../crown.png') center center;
        background-size: cover;
        width: 16.4rem;
        height: 7.4rem;
        animation: dance 2s linear infinite alternate-reverse;
      }
    }

    .team:last-child {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;

      .badge {
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
      }

      .name {
        font-size: 2rem;
      }
    }
  }
}

@keyframes dance {
  0% {
    transform: translateY(-3%) rotate(-3deg) translateX(-50%);
  }

  50% {
    transform: translateY(0%) rotate(-3deg) translateX(-50%);
  }

  100% {
    transform: translateY(8%) rotate(-3deg) translateX(-50%);
  }
}
