@import '../../layoutStyles/helpers';

.landing {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  h1 {
    @include rubik(8rem, $white);
    margin-bottom: 2rem;
  }
  a {
    @extend %button;
  }
}
